[
 {'ergw-gtp-u-node', []},

 {gtp_u_kmod, [
	       {sockets, [{grx, [{ip, {127,0,0,1}},
				 {netdev, "lo"},
				 freebind,
				 %% {netns, "/var/run/netns/grx"},
				 {vrf, [%% {netdev, "upstream"},
					{routes, [{{10, 180, 0, 0}, 16}]}
				       ]}
				]}
			 ]}
	      ]},

 {lager, [
	  {log_root, "/var/log/gtp-u-node"},
	  {error_logger_redirect, true},
	  {colored, true},
	  {crash_log, "crash.log"},
	  {handlers, [
		      {lager_console_backend, info},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "console.log"}, {level, info}]}
		     ]}
	 ]}
].
