[
 {'ergw-gtp-u-node', []},

 {gtp_u_kmod, [
	       {sockets, [{grx, [{ip, {127,0,0,1}},
				 {netdev, "lo"},
				 freebind,
				 %% {netns, "/var/run/netns/grx"},
				 {routes, [{{10, 180, 0, 0}, 16}]}
				]}
			 ]}
	      ]},

 {lager, [
	 {colored, true},
	 {handlers, [
		     {lager_console_backend, debug},
		     {lager_file_backend, [{file, "/var/log/gtp-u-node/error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "/var/log/gtp-u-node/console.log"}, {level, info}]}
		    ]}
	]}
].
